@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
:root {
  --gem-tier-4: #d3695b;
  --neutral-10: #f7f5f5;
  --font-site: "Cairo", sans-serif;
  --box-shadow: 0px 2px 8px #e6c9f1;
  --shadow-color: #e6c9f1;
}

/*general style */
body {
  font-family: var(--font-site);
  font-size: 17px;
  background-color: var(--neutral-10);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

body::after {
  content: "";
  background: url("/img/");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.section {
  height: 100vh;
}

.myBtn {
  border: 0;
  background-color: var(--gem-tier-4);
  color: #fff;
}

.myBtn:hover {
  border: 0;
  background-color: var(--gem-tier-4);
  opacity: 0.8;
  color: #fff;
}

.myBtn:active {
  background-color: var(--gem-tier-4);
}

.title-Section {
  font-weight: 800;
  margin-bottom: 0;
}
.center-line {
  width: 10%;
  height: 3px;
  background-color: var(--gem-tier-4);
  margin: 0 auto 2rem auto;
}

.char {
  font-weight: 800;
  display: inline-block;
  color: var(--gem-tier-4);
}

.title {
  font-weight: 800;
}

.v-studio {
  width: 2rem;
}

.lead a {
  color: #333;
}

.lead a:hover {
  color: var(--gem-tier-4);
  text-decoration: none;
}

.bg-light {
  box-shadow: var(--box-shadow);
}

/*Start the Header */

.logo {
  width: 2rem;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start  of navbar */
.nav-item a:after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 2px;
  background-color: var(--gem-tier-4);
  transition: all 0.5s ease-in-out;
}

.active a:after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--gem-tier-4);
}

.nav-item a:hover:after {
  width: 100%;
}

/* end of navbar */

/*header 2 */

.rightinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro {
  width: 100%;
}

/*End Of the Header */

/*about Style*/
#About i {
  color: var(--gem-tier-4);
}
.picOfMe {
  width: 70%;
  border-radius: 50% 50%;
  box-shadow: 1px 1px 9px var(--gem-tier-4);
}
/*End about Style*/

/* SKILLS Section */
#Skills {
  display: grid;
  place-items: center;
}
.skills-bar {
  width: 60%;
}
.skills-bar .bar {
  margin: 35px 5px;
}
.skills-bar .progress-line {
  width: 100%;
  height: 0.7em;
  background-color: #c9c6c6;
  margin: 10px 0;
  position: relative;
  border-radius: 1em;
}
.skills-bar .progress-line span {
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 100%;
  background-color: #EE513B;
  border-radius: 1em;
}
.skills-bar .progress-line.html span {
  width: 90%;
}
.skills-bar .progress-line.css span {
  width: 99%;
}
.skills-bar .progress-line.javascript span {
  width: 90%;
}
.skills-bar .progress-line.jquey span {
  width: 85%;
}
.skills-bar .progress-line.bootstrap span {
  width: 90%;
}
.skills-bar .progress-line span::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  right: 0;
  top: -12px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-color: #000;
}
.skills-bar .progress-line span::before {
  content: "60%";
  position: absolute;
  right: 0;
  top: -37px;
  padding: 1px 8px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
}

.skills-bar .progress-line.html span::before {
  content: "90%";
}
.skills-bar .progress-line.css span::before {
  content: "99%";
}
.skills-bar .progress-line.javascript span::before {
  content: "90%";
}
.skills-bar .progress-line.jquery span::before {
  content: "85%";
}
.skills-bar .progress-line.bootstrap span::before {
  content: "90%";
}
/*end of skills*/
/*start of portfolio */
.potfolio {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 8px var(--shadow-color);
}
.potfolio img {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.potfolio:hover img {
  transform: scale(1.2);
  opacity: 0.6;
}
section#Projects {
  height: 70vh;
}
/*End of portfolio */

/* start contact */
#Contact .form {
  width: 60%;
  margin: auto;
}

/* form focus color  */
.form-control:focus {
  border-color: rgba(194, 129, 231, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(168, 73, 223, 0.25);
}

footer p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.7;
  letter-spacing: 0.8px;
  font-family: sans-serif;
}

/* media query */

@media (max-width: 992px) {
  /* header */
  .full-info {
    margin-top: 20rem;
    height: 100%;
  }
  .leftimage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }

  .rightinfo {
    align-items: center;
  }
  .intro {
    width: 70%;
  }
  /* header */

  /* About */
  #About {
    margin-top: 10rem;
    width: 100%;
  }

  .aboutrightside {
    line-height: 1.8;
    text-align: center;
  }
  .picOfMe {
    width: 50%;
  }

  /* End About */

  /* Skills  */
  .skills-bar {
    width: 95%;
  }
  /* End Skills  */

  /*Contact */
  #Contact .form {
    width: 100%;
    margin: auto;
  }

  .section,
  section#Projects {
    height: 100%;
    margin: 5rem 0;
  }
}

@media (max-width: 560px) {
  .title-Section {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0;
  }

  #About i {
    font-size: 1.5rem;
  }
  #About span {
    word-wrap: break-word;
  }

  header {
    text-align: center;
  }
}
